@using System.Globalization
@model CountryCasesModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mb-4">Top 20 countries with most Covid-19 cases.</h1>
    <p>Date: @Model.Date</p>
    
</div>
<div class="row d-flex justify-content-center">
    <div class="col-8">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th class="text-center"scope="col">Country</th>
                    <th class="text-center" scope="col">Cases</th>
                </tr>
            </thead>
            <tbody>
                @foreach(SingleCountry country in Model.Countries)
                {
                    <tr>
                        <th scope="row">@(Model.Countries.IndexOf(country)+1)</th>
                        <td class="text-center" scope="row">@country.Country</td>
                        <td class="text-center" scope="row">@country.TotalConfirmed.ToString("N0", CultureInfo.CreateSpecificCulture("en-US"))</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
